<div class="page-header">
    <h2>プライバシーポリシー</h2>
</div>

<h4>1．はじめに</h4>
<p>non-standard world株式会社（以下、当社といいます）は、ここに当社の個人情報に対する保護方針を記載するとともに、当方針を全従業員に周知徹底し確実に実行いたします。<br />
※本方針において「個人情報」、｢個人データ｣、｢保有個人データ｣とは｢個人情報の保護に関する法律｣（以下｢個人情報保護法｣と略します）第2条に定義されるものを指します。</p>

<h4>2．当社の個人情報保護方針の目的</h4>
<p>当社は、当社が運営している以下のウェブサイトを利用されるお客様の個人情報を適切に保護し、お客様への継続的な安心と有益な情報を提供し続けます。<br />
・Coworkscape</p>

<h4>3．個人情報の取扱いについて</h4>
<p>当社は、個人情報の取扱いに関する管理体制を確立するとともに、社内規程に従い適切かつ慎重に取り扱います。</p>

<h5>3_1. 個人情報の収集について</h5>
<p>当社がお客様から個人情報を収集させていただく場合、その個人情報は当社から、お客様への商品及びサービスのご提供やご紹介、並びにお客様に役立つと思われる情報を提供させていただくため(3_2)に規定する目的にのみ収集いたします。 なお、当社は主として以下のような情報を取得いたします。<br />
<ul>
<li>お問い合わせ時にお客様から提供される情報</li>
<li>メールマガジン登録に際してお客様から提供される情報</li>
<li>アクセスに際して取得される情報</li>
<li>IPアドレス、携帯端末に関する情報、cookieやアクセスログ等の情報</li>
</ul>
この目的以外でお客様から個人情報を収集させていただく場合には、あらかじめその収集目的を明確にし、お客様の同意を得た上で、その目的達成に必要な限度において適法かつ公正な手段を用います。</p>

<h5>3_2. 個人情報の利用について</h5>
<p>当社は業務を通じ知り得たお客様の個人情報について、以下の目的で利用します。</p>
<ul>
<li>当社の提供するサービスの内容をより充実したものにするため</li>
<li>お客様へ有益な情報を通知するため、及び必要に応じてお客様に連絡をするため</li>
</ul>

<h5>3_3. 個人データの第三者提供について</h5>
<p>当社は、お客様から収集させていただいた個人データを、業務提携先等の第三者に提供することがあります。</p>
<ol>
<li>お客様本人の同意がある場合</li>
<li>（3_2）の利用目的のために必要がある場合</li>
<li>犯罪捜査の為など警察、検察、裁判所、弁護士会またはこれに準じた権限を有する機関から開示請求があった場合</li>
<li>お客様の生命、身体または財産の保護のために緊急に必要があると当社が判断した場合</li>
<li>当社が第三者に提供し得る個人データの項目は(3_1)に掲げる項目であり、これらの項目を当社の所管システム、電子媒体及び紙媒体の手段・方法で第三者に提供いたします。</li>
<li>当社は、お客様の求めに応じて、お客様本人が識別される個人データの第三者への提供を停止いたします。（ただし、当社の提供するサービスが利用できなくなる場合があります。）</li>
</ol>

<h4>4．個人情報に対する安全対策の実施について</h4>
<p>当社は、個人情報の正確性及び安全性を確保するために、情報セキュリティ対策をはじめとする安全対策を実施し、個人情報への不正アクセス、または個人情報の紛失、破壊、改ざん、漏えい等を確実に防止いたします。<br />
セキュリティ事故の事例や当社内での内部監査の結果、及びお客様からの要望等により、当社の個人情報に対する安全対策に是正が必要と判断した場合には、すみやかにこれを改善いたします。</p>

<h4>5．法令・規範の遵守について</h4>
<p>当社は、確実な個人情報保護の実現のために、個人情報保護法ならびに個人情報関連法令と業界ガイドラインを遵守いたします。</p>

<p>non-standard world株式会社<br />
代表取締役　高崎健司・佐藤昭太</p>
