<div class="page-header">
    <h2>Coworkscapeについて</h2>
</div>
<p>Coworkscape（コワークスケープ）は、登録自由のコワーキングスペース情報サイトです。</p>
スペースの登録は完全無料です。<br>
<%= link_to('こちら', new_user_registration_path) %>より登録のうえ、宣伝にご利用ください。<br>
既に登録済みの方は<%= link_to('こちら', new_user_registration_path) %>よりログインしてください。</p>
<p style="margin-top:2em;">運営：<a href ="https://www.non-standardworld.co.jp" target="_blank">non-standard world, Inc.</a></p>
