<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Language" content="ja">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<style type="text/css">
<!--
a:link, a:visited  {
    color: #0088CC;text-decoration: underline;
}
a:active, a:hover {
    color: #005580;text-decoration: underline;
}
-->
</style>
</head>

<body style="margin:18px;">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="left" style="font-size:13px; line-height:1.7;font-family: Helvetica, 'ヒラギノ角ゴPro W3', 'Hiragino Kaku Gothic Pro', Osaka, メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;">

<tr><td colspan="3"><img src="https://www.cowork.so/assets/spacer.gif" width="1" height="5" border="0" alt=""></td></tr>
<tr><td colspan="3" align="left"><a href="https://www.cowork.so/" target="_blank"><img src="https://www.cowork.so/assets/mailmag_logo.gif" alt="Coworkscape - 登録自由のコワーキングスペース情報サイト -" width="155" height="15" border="0"></a></td></tr>
<tr><td colspan="3"><img src="https://www.cowork.so/assets/spacer.gif" width="1" height="10" border="0" alt=""></td></tr>
<tr><td colspan="3" style="border-top:solid 1px #DDDDDD;"><img src="https://www.cowork.so/assets/spacer.gif" width="1" height="1" border="0" alt=""></td></tr>


<!-- 内容ここから -->
<tr><td colspan="3"><img src="https://www.cowork.so/assets/spacer.gif" width="1" height="10" border="0" alt=""><br></td></tr>
<tr><td colspan="3" align="left">
<p><strong>ようこそ！ <%= @resource.name %>さん</strong></p>

<p>以下のリンクをクリックしてCoworkscapeアカウントの登録確認を完了してください。</p>

<p><%= link_to 'アカウントを確認する', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p style="font-size:11px;color:#999999;">※ご不明な点がある場合は<a href="https://www.non-standardworld.co.jp/#contact" target="_blank" style="color:#999999;">こちら</a>のお問い合わせフォームをご利用ください。</p>

</td></tr>
<!-- 内容ここまで -->

<tr><td colspan="3"><img src="https://www.cowork.so/assets/spacer.gif" width="1" height="15" border="0" alt=""></td></tr>
<tr><td colspan="3" style="border-top:solid 1px #DDDDDD;"><img src="https://www.cowork.so/assets/spacer.gif" width="1" height="1" border="0" alt=""></td></tr>

<tr><td colspan="3"><img src="https://www.cowork.so/assets/spacer.gif" width="1" height="7" border="0" alt=""></td></tr>
<tr><td colspan="2" width="535" align="left" style="font-size:11px;color:#555555;">Coworkscape - 登録自由のコワーキングスペース情報サイト -</td></tr>

<tr><td colspan="3"><img src="https://www.cowork.so/assets/spacer.gif" width="1" height="10" border="0" alt=""></td></tr>
<tr><td colspan="3" style="border-top:dotted 1px #DDDDDD;"><img src="https://www.cowork.so/assets/spacer.gif" width="1" height="1" border="0" alt=""></td></tr>

<tr><td colspan="3"><img src="https://www.cowork.so/assets/spacer.gif" width="1" height="10" border="0" alt=""></td></tr>
<tr><td colspan="3" align="left"><a href="https://www.non-standardworld.co.jp/" target="_blank"><img src="https://www.cowork.so/assets/mailmag_nsw_copy.gif" alt="non-standard world, Inc." width="209" height="18" border="0"></a></td></tr>

</table>


</body>
</html>
